
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_layout</title>
</head>
<body>
    <h1>lome11</h1>
    <div>
        @RenderBody()
    </div> <div>
        @RenderBody()
    </div>
</body>
</html>
